
.projects{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;


}

@media screen and (min-width:768px) {
    .projects{
   
       display: flex;
       flex-wrap: wrap;
       gap: 3rem;
       flex-direction:row;
       width: 95vw;
       justify-content:start;
    }
}