.project-card{
    display: flex;
    flex-wrap: wrap;

    width: 350px;
    height: 400px;
    justify-content: center;
    margin-top: 20px;

 
  
}
.project-card .project-card-icon{
    display: flex;
    position: absolute;
    right: 80px;
    margin-top: 200px;
    scale: 2;
    gap: 1rem;
    z-index: 9999
}

.project-card .project-card-icon :nth-child(1){
 
  border-radius: 100px;
}.project-card .project-card-icon :nth-child(2){
 
    border-radius:2px;
  }


.project-card .project-card-image{
    border: 2px solid;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width:260px ;
    height: 200px;
   margin-bottom: 350px;
   background-color: black;
   border-radius:10px ;
}
.project-card .project-card-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid;
    margin-bottom: 0px;
    border-radius: 10px;
    background-color: #28173aa2;
        border: 2px solid #5f0b6cd9 

}
.project-card .project-card-info h1{
    margin-left: 10px;
    margin-top: 90px;
}
.project-card .project-card-info p{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 16px;
    
}

@media screen and (min-width: 768px) {
    .project-card{
        display: flex;
        flex-wrap: wrap;
      
        width: 600px;
        height: 250px;
        justify-content: e;
      
        margin-left: 50px;      
      
    }
    .project-card .project-card-icon{
        display: none
      
    }
    .project-card:hover .project-card-icon{
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 40px;
        margin-top: 20px;
        scale: 2.5;
        gap: 1rem;
        
    }
    .project-card .project-card-image{
       
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width:260px ;
        height: 200px;
        margin-top: 20px;
       margin-left: -350px;
       background-color: black;
       border-radius:10px ;
    }
    .project-card .project-card-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
   
        width: 400px;
        height: 250px;
      margin-left: 200px;
        
        margin-bottom: 0px;
        border-radius: 10px;
        background-color: #28173aa2;
        border: 2px solid #5f0b6cd9 ;
    }
    .project-card .project-card-info h1{
        margin-left: 60px;
        margin-top: -10px;
       
    }
    .project-card .project-card-info p{
        margin-left: 60px;
        padding: 6px;
        font-size: larger;
       
    }
    
}